body {
	background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
p {
    font-family: Harry P;
    src: url(HARRYP__.TTF);
    font-weight:400;
    color: white;
    font-size: 75px; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    font-family: Harry P;
    src: url(HARRYP__.TTF);
    font-size: 30px;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
    color:white;
    text-decoration: none;
}

    .demo-content{
        padding: 15px;
        font-size: 30px;
        min-height: 300px;
        margin-bottom: 20px;
        font-family: Harry P;
        ssrc: url(HARRYP__.TTF);
}
h3 {
   font-family: Harry P;
    src: url(HARRYP__.TTF);
    font-weight:400;
    color: white;
    font-size: 40px;      
}
h2 {
   font-family: Harry P;
    src: url(HARRYP__.TTF);
    font-weight:400;
    color: white;
    font-size: 40px;      
}
h1 {
   font-family: Harry P;
    src: url(HARRYP__.TTF);
    font-weight:400;
    color: white;
    font-size: 40px;      
}
h4 {
   font-family: Harry P;
    src: url(HARRYP__.TTF);
    font-weight:400;
    color: white;
    font-size: 40px;      
}
h5 {
   font-family: Harry P;
    src: url(HARRYP__.TTF);
    font-weight:400;
    color: white;
    font-size: 40px;      
}